package view



templ Base(){
    <html>
    <head>

    </head>

    <body>

    <section style="border: 1px solid red">
         This is form base
          {children...}
          9999
    </section>

    </body>
    </html>
}
